<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post" action="http://localhost:8081/a">
        <!--<form method="post">-->
        <label for="first-Name"> firstName</label>
        <input name="firstName" id="first-Name" type="text">
        <br>
        <label for="last-Name"> lastName</label>
        <input name="lastName"  id="last-Name" type="text">
        <br>
        <label for="mail"> mail</label>
        <input name="email"  id="mail" type="text">
        <br>
        <input type="submit" value="save" >
    </form>
    </body>
</html>