.new-appointment-container {
  width: 30%;
  position: fixed;
  top: 0;
  /* left: 70%; */
  right: 0;
  height: 100%;
  /* height: auto; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 100;
  background-color: white;
  box-shadow:5px 8px 10px 0px rgba(240, 92, 183, 0.5), 
  0px 16px 12px 5px rgba(255, 206, 236, 0.5),
  0 39px 5px 0px #fff;

  transition: box-shadow 2s;

}
.new-appointment-container:hover{
box-shadow:20px 23px 35px 10px rgba(240, 92, 183, 0.5), 
0px 36px 25px 20px rgba(255, 206, 236, 0.5),
0 39px 5px 0px #fff;
}
.new-appointment-header {
  background-color: #f692b8;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.break-line {
  color: #424242;
  height: 1px;
  background-color: #424242;
  width: 100%;
  margin: 0;
}

.new-appointment-doctor {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.doctor-container {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 20px 0 20px;
  margin-right: 20px;
}

.user-avatar {
  width: 44px;
  height: 41px;
  border-radius: 50px;
  margin-right: 17px;
}

.name-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #25282b;
}

.user-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #25282b;
}

.btn-container {
  align-items: center;
  justify-content: right;
}

.comment-btn {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 5px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;

  /* Neutral / Black */
  color: #25282b;
}

.new-appointment-body {
  display: flex;
  flex-direction: column;
}

.new-appointment-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dropdown1 {
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between; */
  margin: 25px 0 25px;
}

/* .dropdown2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px 0 25px;
}

.dropdown3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px 0 25px;
} */

.header-paragraph {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-family: "Roboto";
  font-style: italic;
  /* font-weight: 800; */
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #FFF;
  padding: 20px 0 20px;
}

.reason-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #25282b;
  margin-bottom: 10px;
}

.patient-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #25282b;
  margin-bottom: 10px;
}

.date-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #25282b;
  margin-bottom: 10px;
}

.my-close-btn {
  padding: 10px 20px;
  margin-right: 20px;
  color: red;
  background: transparent;
  border-radius: 5px;
  text-align: center;
  outline:none ;
  border: 1px solid red;
}

.my-save-btn {
  padding: 10px 20px;
  margin-left: 20px;
  background: #0156ff;
  border-radius: 5px;
  outline: none;
  border: none;
}

