@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
	box-sizing: border-box;
}

body {
	background: #f6f8fb;
	font-family: "Helvetica, Sans-Serif";
}

h1 {
	font-weight: 700;
	margin: 0;
	color: #336cfb;
}

a {
	color: #336cfb;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 10px;
	border: 1px solid #336cfb;
	background-color: #336cfb;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 65px;
	letter-spacing: 1px;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #e9f0ff;
	border: none;
	border-radius: 10px;
	padding: 10px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	margin: auto;
	align-items: center;
	position: relative;
	overflow: hidden;
	width: 500px;
	max-width: 100%;
	min-height: 650px;
	margin-top: 120px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.sign-in-container {
	left: 0;
	width: 100%;

    box-shadow:5px 8px 10px 0px #87cce0, 
     0px 16px 12px 5px #afe4f3,
     0 39px 5px 0px #fff;

     transition: box-shadow 2s;

}
.sign-in-container:hover{
	
  box-shadow:20px 23px 35px 0px #87cce0, 
  0px 36px 25px 20px #afe4f3,
  0 39px 5px 0px #fff;
}
.form-login{
	display: block;
	margin: 50px;
	padding: 50px;
	border-radius: 25px;
	box-shadow:5px 8px 10px 0px #87cce0, 
	0px 16px 12px 5px #afe4f3,
	0 39px 5px 0px #fff;

	transition: box-shadow 2s;

}
.form-login:hover{
 box-shadow:20px 23px 35px 0px #87cce0, 
 0px 36px 25px 20px #afe4f3,
 0 39px 5px 0px #fff;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.image {
	width: 500px;
	height: 300px;
}
